<a [routerLink]="['/listings']">Back</a>
<br />
<h2 class="page-header">Edit Listing</h2>
<form (submit)="onEditSubmit()">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" [(ngModel)]="title" name="title">
  </div>
  <div class="form-group">
    <label for="city">City</label>
    <input type="text" class="form-control" [(ngModel)]="city" name="city">
  </div>
  <div class="form-group">
    <label for="owner">Owner</label>
    <input type="text" class="form-control" [(ngModel)]="owner" name="owner">
  </div>
  <div class="form-group">
    <label for="bedrooms">Bedrooms</label>
    <input type="number" class="form-control" [(ngModel)]="bedrooms" name="bedrooms">
  </div>
  <div class="form-group">
    <label for="type">Type</label>
    <select name="type" type="text" [(ngModel)]="type" class="form-control">
      <option value="Estate">Estate</option>
      <option value="Condo">Condo</option>
      <option value="Apartment">Apartment</option>
    </select>
  </div>
  <!-- <div class="form-group">
    <input id="image" name="image" [(ngModel)]="image" type="file">
  </div> -->
  <div class="form-group">
    <label for="price">Price</label>
    <input type="text" class="form-control" [(ngModel)]="price" name="price">
  </div>
  <input type="submit" value="submit" class="btn btn-success">
</form>